version: "3.8"

services:
  postgres:
    image: postgres:14
    container_name: marmot-postgres
    environment:
      POSTGRES_USER: marmot
      POSTGRES_PASSWORD: marmot
      POSTGRES_DB: marmot
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U marmot"]
      interval: 5s
      timeout: 5s
      retries: 5

  marmot:
    image: ghcr.io/marmotdata/marmot:0.4
    container_name: marmot-service
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      - MARMOT_DATABASE_HOST=postgres
      - MARMOT_DATABASE_USER=marmot
      - MARMOT_DATABASE_PASSWORD=marmot
      - MARMOT_AUTH_ANONYMOUS_ENABLED=true
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD-SHELL", "nc -z localhost 8080 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 15s
